*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: hsl(257, 40%, 49%) url(bg-desktop.svg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main{
  display: flex;
  width: 1275px;
  height: 625px;
}
.logo{
  background: url(logo.svg) no-repeat;
  width: 200px;
  height: 45px;
  margin-bottom: 90px;
  background-size: cover;
}
.image{
  background: url(illustration-mockups.svg) no-repeat;
  width: 700px;
  height: 490px;
}
.right{
  padding: 180px 0 0 50px;
}
h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  padding-bottom: 25px;
}
h3{
  color: white;
  opacity: .9;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  padding-right: 60px;
}
button{
  width: 200px;
  height: 55px;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border: 1px solid hsl(257, 40%, 49%);
  color: hsl(257, 40%, 49%);
  margin-bottom: 185px;
}
button:hover{
  color: white;
  background: hsl(300, 69%, 71%);
}
#social{
  color: white;
  justify: flex-end;
  margin-left: 330px;
}
i{
  border: 2px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  line-height: 30px;
  padding: 8px;
  margin-left: 10px;
}
i:hover{
  color: hsl(300, 69%, 71%);
  border: 2px solid hsl(300, 69%, 71%);
}
